#pr
{
    color:  red;
}
.test_image
{
    margin-right: 80%;
    height: 40%;
    width: 30%;
    background-color: grey;
    border-radius: 10px;

}
.bottle
{
    height: 80%;
    width: 30%;
    bottom: 20%;
  
}
.text
{
    text-align: left;
    text-decoration-color: purple;

}
.img
{
   height: 200px;
   width: 250px;
}
#OUTPUT
{
  border-radius: 20px;
  width: 200PX;

}
.test_img2
{

    height: 40%;
    width: 30%;
    background-color: grey;
    border-radius: 10px;
    margin-right: 80%;
 
}
.cup
{
    height: 80%;
    width: 30%;
    bottom: 20%;
  
}
.test_img3
{

    height: 40%;
    width: 30%;
    background-color: grey;
    border-radius: 10px;
    margin-right: 80%;
 
}
.test_img4
{

    height: 40%;
    width: 30%;
    background-color: grey;
    border-radius: 10px;
    margin-right: 80%;
 
}
.test_img5
{

    height: 40%;
    width: 30%;
    background-color: grey;
    border-radius: 10px;
    margin-right: 80%;
 
}
.test_img6
{

    height: 40%;
    width: 30%;
    background-color: grey;
    border-radius: 10px;
    margin-right: 80%;
 
}
.test_img7
{

    height: 40%;
    width: 30%;
    background-color: grey;
    border-radius: 10px;
    margin-right: 80%;
 
}